/* title */

nav{
  padding: 2% 5%;
}

.navbar-brand{
  font-size: 2.5rem;
}

.nav-item{
  font-size: 1.2rem;
}

#title .container-fluid{
  /* background-color: #28DF99; */
  background-image: url(https://wallpaperaccess.com/full/1155050.jpg);
  padding: 7% 10%;
  text-align: center;
}

.carousel-item h1{
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding: 0 10%;
}

#title h5{
  color: #fff;
  font-weight: lighter;
}

h1.heading{
  padding-bottom: 4%;
}

#hospitals{
  text-align: left;
  padding: 5% 7%;
  background-color: #f8f8f8;
}

#hospitals .accordion img{
  width:100%;
  height: 130px;
}

#hospitals .accordion h2{
  font-size: 3rem;
  margin-top: 4%;;

}

#dispensaries{
  text-align: left;
  background-color: 	#146356;
  padding: 5% 7%;
}

#dispensaries .heading{
  color: #fff;
}

#clinics{
  text-align: left;
  padding: 5% 7%;
  background-color: #f8f8f8;
}

#clinics td{
  width: 80px;
}

#clinics .row{
  border-style: solid;
  border-color: #000;
  padding: 2%;
  margin-bottom: 2%;
  background-color: #fff;
}


/* accordion */

.acc-item{
  margin: 2% 0;
  border: solid;
  border-width: 2px;
  border-color: #D0D0D0;
}

.accordion {
  background-color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 14px;
  color: #000;
  float: right;
  margin-left: 5px;
}

.active-acc:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* .active, .accordion:hover {
  border: 10px;
  border-color: black;
} */

.accordion:after {
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  color: black;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* accordion ends */


.card img{
  width: 100%;
  height: 220px;;
}



#vaccine{
  padding: 7% 7%;
  background-color: #017e7e;
  text-align: center;
  color: #fff;
}

#vaccine h1{
padding-bottom: 2%;
}

#vaccine h4{
padding: 0 4% 2%;
}

#footer{
  text-align: center;
  padding: 5% 15% 2%;

}

.footer-icon{
  margin: 0 1% 2%;
}

.col-lg-3{
  text-align: center;
}

.col-lg-3 img{
  width: 100%;
}

td .fa-solid{
  padding: 4%;
}

.modal-div{
  text-align: center;
  padding: 0 2% 2%;
}

.vaccination-buttons a{
  margin: 0 1%;
}
